@charset "UTF-8";
.admin-wrap {
  max-width: 1200px;
}

.admin_page_container {
  display: flex;
  /* 추가적으로 필요할 수 있는 스타일들 */
}
.admin_page_container h1,
.admin_page_container h2,
.admin_page_container h3,
.admin_page_container h4,
.admin_page_container h5,
.admin_page_container p {
  margin: 0;
  padding: 0;
}
.admin_page_container ul,
.admin_page_container li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.admin_page_container a {
  text-decoration: none;
  color: inherit;
}
.admin_page_container .admin_page {
  margin-top: 70px;
}
.admin_page_container .table_title {
  display: flex;
  justify-content: center;
}
.admin_page_container .table th {
  text-align: center; /* 텍스트 가운데 정렬 */
  vertical-align: middle; /* 상하 가운데 정렬 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  white-space: nowrap; /* 텍스트를 한 줄로 */
  text-overflow: ellipsis; /* 넘치는 텍스트는 ...으로 표시 */
}
.admin_page_container .overflow-x {
  overflow-x: auto;
}
.admin_page_container .admin_top_nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 30px;
  border-bottom: 1px solid #bbb;
}
.admin_page_container .admin_top_nav .go_to_home_btn img {
  width: 150px;
}
.admin_page_container .search-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 140px 20px 0;
}
.admin_page_container .search-box input:focus-visible {
  outline: none;
}
.admin_page_container .search-box svg {
  position: absolute;
  padding: 10px;
  font-size: 25px;
  color: #bbb;
}
.admin_page_container .search-box input {
  width: 400px;
  height: 40px;
  padding: 0 35px;
  padding-left: 47px;
  border: none;
}
.admin_page_container .admin_sidebar {
  background-color: #1e1e1e;
  height: 100vh;
  width: 20%;
  max-width: 280px;
  min-width: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 70px 20px 0 20px;
  overflow: hidden;
}
.admin_page_container .admin_sidebar .user_img {
  width: 90px;
  height: 90px;
  color: #bbb;
  margin-bottom: 15px;
}
.admin_page_container .admin_sidebar .user_name {
  color: #fff;
  font-family: "Gsans_B";
  font-size: 0.6em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin_page_container .admin_sidebar .link_menu {
  display: flex;
  flex-flow: column;
  padding-left: 40px;
  width: 100%;
  margin-top: 20px;
  color: #bbb;
}
.admin_page_container .admin_sidebar .link_menu li {
  padding: 10px 0;
}
.admin_page_container .admin_sidebar .link_menu a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
  font-size: 1.1em;
}
.admin_page_container .admin_sidebar .link_menu a:hover {
  color: #fff;
}
.admin_page_container .admin_sidebar .link_menu a > svg {
  margin-right: 8px;
}
.admin_page_container .notice_edit_btns button {
  border: 0.5px solid #000;
  margin-left: 5px;
}
.admin_page_container .admin_main_container {
  width: 100%;
}
.admin_page_container .reset_btn_area {
  display: flex;
  justify-content: flex-end;
}
.admin_page_container .search_reset {
  border: 0.5px solid #bbb;
  position: absolute;
  color: rgb(78, 78, 78);
  top: 0;
  right: 0;
  margin: 20px 30px;
}
.admin_page_container .admin_user_container .user_item {
  display: flex;
  justify-content: space-between;
}
.admin_page_container .admin_user_container .profile_group {
  display: flex;
  align-items: center;
}
.admin_page_container .admin_user_container .user_profile {
  display: flex;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border: 0.5px solid #bbb;
  border-radius: 50%;
  overflow: hidden;
}
.admin_page_container .admin_user_container .user_profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
}
.admin_page_container .admin_user_container .level_group {
  display: flex;
  justify-content: center;
}
.admin_page_container .admin_user_container .level_tag {
  width: fit-content;
  border-radius: 30px;
  padding: 6px 8px;
  font-family: Gsans_B;
  font-size: 0.6em;
}
.admin_page_container .admin_user_container .normal {
  background-color: #fff;
  border: 1px solid #000;
}
.admin_page_container .admin_user_container .gold {
  background-color: rgb(0, 0, 0);
  border: 1px solid #fff;
  color: #fff;
}
.admin_page_container .admin_user_container .suspend {
  background-color: #bbb;
  color: #fff;
  border: 1px solid #bbb;
}

.notice-form-container .upload_img_box {
  overflow: hidden;
  width: 7em;
  height: 7em;
  border: 0.5px solid #bbb;
  border-radius: 8px;
}
.notice-form-container .upload_img_box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.notice-form-container #content {
  height: 18em;
}
.notice-form-container .error-message {
  color: red;
}

.user_detail_modal .profile_group {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.user_detail_modal .user_profile {
  width: 100px;
  height: 100px;
  border: 0.5px solid #bbb;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.user_detail_modal .user_profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user_detail_modal .order-button-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.user_detail_modal .order-button-area button {
  width: 100%;
  padding: 13px;
  font-size: 1.1em;
}
.user_detail_modal .order-button-area button:first-child {
  margin-right: 5px;
}
