.DetailPageAllBox {
  margin-top: 60px;
}
.DetailPageAllBox .DetailStatus {
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  width: max-content;
  vertical-align: middle;
  margin-bottom: 20px;
}
.DetailPageAllBox .state_run {
  background-color: black;
  color: white;
}
.DetailPageAllBox .DetailTitle {
  font-size: 2em;
  font-family: "Gsans_B";
  margin-bottom: 15px;
}
.DetailPageAllBox .DetailTopBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: solid 1px #bbb;
  font-size: 24px;
}
.DetailPageAllBox .DetailTopBox .DetailTopImg {
  text-align: center;
}
.DetailPageAllBox .DetailTopBox .DetailTopImg img {
  width: 95%;
  border-radius: 10px;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox {
  border-top: solid 4px black;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .row {
  margin-bottom: 10px;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .LikeShare {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px 0;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .LikeShare svg,
.DetailPageAllBox .DetailTopBox .DetailInfoBox .LikeShare button {
  width: fit-content;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .LikeShare button {
  background: none;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .LikeShare .like_heart:hover {
  color: #d61f1f;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .LikeShare .like_heart_red {
  color: #d61f1f;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailInfo {
  flex-grow: 1;
  display: flex;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailButtonBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailButtonBox .reservationBtnBox {
  padding: 0;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailButtonBox .reservationBtnBox .reserveBtn {
  background: none;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 100%;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailButtonBox .reservationBtnBox .true {
  background-color: #bbb;
  border: none;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailButtonBox .reservationBtnBox .trueColor {
  margin-top: 3px;
  text-align: center;
  color: red;
  font-size: 20px;
  display: block;
}
.DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailButtonBox .reservationBtnBox .falseColor {
  display: none;
}
.DetailPageAllBox .subTitle {
  font-size: 2em;
  margin: 55px 0 10px;
}
.DetailPageAllBox .subTitle + li {
  font-family: "Gsans_L";
  font-weight: lighter;
}
.DetailPageAllBox .subTitle + li + li {
  font-family: "Gsans_L";
  font-weight: lighter;
}
.DetailPageAllBox .reviewText {
  border-bottom: solid 3px black;
}
.DetailPageAllBox .review_box {
  text-align: center;
  margin-top: 30px;
}
.DetailPageAllBox .review {
  border: solid 1px #bbb;
  border-radius: 5px;
  padding: 20px 10px 10px;
  margin-bottom: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.DetailPageAllBox .review .detailReviewTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #737373;
  font-size: 13px;
  margin-bottom: 10px;
}
.DetailPageAllBox .review .detailReviewTop .starName {
  display: flex;
}
.DetailPageAllBox .review .detailReviewTop .starName .review_nickname {
  margin-left: 10px;
}
.DetailPageAllBox .review .reviewInner {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.DetailPageAllBox .review .reviewInner .userSendImg img {
  max-height: 90px;
}
.DetailPageAllBox #true1 {
  display: block;
}
.DetailPageAllBox #false1 {
  display: none;
}
.DetailPageAllBox .DetailBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DetailPageAllBox .DetailBox .postersBox {
  max-height: 1500px;
  overflow: hidden;
}
.DetailPageAllBox .DetailBox .postersBox .posters {
  text-align: center;
  padding: 0px 5em;
}
.DetailPageAllBox .DetailBox .postersBox .posters img {
  max-width: 100%;
}
.DetailPageAllBox .DetailBox .detailHiddenBtn {
  width: 70%;
  background: none;
  padding: 25px 0;
  font-size: 1.7em;
  box-shadow: 0 -10px 30px 50px rgba(255, 255, 255, 0.7);
}
.DetailPageAllBox #true {
  overflow: hidden;
}
.DetailPageAllBox #false {
  overflow: show;
  height: fit-content;
  max-height: none;
}
.DetailPageAllBox .locationTitle {
  display: flex;
  margin-bottom: 10px;
}
.DetailPageAllBox .locationTitle div {
  margin-left: 5px;
  font-family: "Gsans_B";
}
.DetailPageAllBox .detailAddress {
  margin-bottom: 10px;
}
.DetailPageAllBox #map {
  border: solid 1px #bbb;
}

@media screen and (max-width: 768px) {
  .DetailPageAllBox .DetailTopBox .DetailInfoBox .LikeShare {
    margin: 5px 0;
  }
  .DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailInfo {
    font-size: 0.75em;
  }
  .DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailButtonBox .reservationBtnBox .reserveBtn {
    font-size: 0.8em;
  }
  .DetailPageAllBox .DetailBox .postersBox {
    height: 90vh;
  }
}
@media screen and (max-width: 480px) {
  .DetailPageAllBox {
    margin-top: 30px;
  }
  .DetailPageAllBox .DetailTopBox {
    padding-bottom: 30px;
  }
  .DetailPageAllBox .DetailTopBox .DetailTopImg {
    margin-bottom: 20px;
  }
  .DetailPageAllBox .DetailTopBox .DetailInfoBox {
    padding-top: 20px;
    border-top: solid 2px black;
    font-size: 0.75em;
  }
  .DetailPageAllBox .DetailTopBox .DetailInfoBox .DetailButtonBox .reservationBtnBox .trueColor {
    font-size: 0.9em;
    margin-top: 10px;
  }
  .DetailPageAllBox .DetailBox .postersBox {
    height: 70vh;
  }
  .DetailPageAllBox .subTitle {
    margin: 20px 0 10px;
    font-size: 1.5em;
  }
  .DetailPageAllBox .subTitle + li {
    font-size: 0.8em;
  }
  .DetailPageAllBox .subTitle + li + li {
    font-size: 0.8em;
  }
  .DetailPageAllBox #true1 {
    width: 100%;
    font-size: 1.3em;
    padding: 15px 0;
  }
}
