.login_area {
  height: 100vh;
  flex-direction: column;
  width: 450px;
  /* .info_register_message a {
      text-decoration: underline;
      color: rgb(45, 111, 233);
    } */
}
.login_area .login_form {
  width: 100%;
  margin-top: 30px;
}
.login_area .login_form input {
  height: 50px;
}
.login_area .login_title {
  font-family: "Gsans_B";
  font-size: 35px;
  letter-spacing: 3px;
  border-bottom: 5px solid #181818;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
}
.login_area .login_error_message {
  margin-top: 20px;
  width: 100%;
}
.login_area .login_btn_area,
.login_area .sns_btn_area {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_area .login_btn {
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  padding: 6px 12px;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 20px;
}
.login_area .login_btn:hover {
  background-color: #505253;
}
.login_area .info_register_message {
  margin-top: 20px;
}
.login_area .custom_kakao_btn {
  background-color: #fee500 !important;
  border-radius: 50%;
  border: none;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  color: #000;
}
.login_area .kakao_icon {
  position: relative;
  left: 1px;
}
.login_area .custom_google_btn {
  background-color: #ffffff !important;
  border-radius: 50%;
  border: 1.5px solid lightgray;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_area .custom_google_btn img {
  width: 20px;
  height: 20px;
}
.login_area .sns_btn_wrap {
  display: flex;
  margin-bottom: 30px;
}
.login_area .sns_btn_area button {
  margin: auto 10px;
}
.login_area .password_input_wrap {
  position: relative;
}
.login_area .password_toggle_icon {
  position: absolute;
  top: 65%;
  right: 15px;
  transform: translateY(-65%);
  cursor: pointer;
  color: #bbb;
}
