@charset "UTF-8";
.main_banner_area {
  background-color: rgb(182, 182, 182);
  width: 100%;
  margin-bottom: 4.5rem;
  margin-top: -1px;
  overflow: hidden;
}
.main_banner_area .main_slider {
  width: 100%;
}
.main_banner_area .main_slider .bg_blue {
  background-color: #a3c9d4;
}
.main_banner_area .main_slider .bg_gr {
  background-color: #f6f6f6;
}
.main_banner_area .main_slider .slide-img_box {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  cursor: pointer;
}
.main_banner_area .main_slider .slide-img_box img {
  width: 66.7%;
  overflow: hidden;
  object-fit: cover;
}

.month_performance_area {
  margin-bottom: 5rem;
}
.month_performance_area .month_performance_row {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.month_performance_area .genre_btn_area {
  margin-bottom: 0.8rem;
}
.month_performance_area .genre_btn_area button {
  background-color: white;
  border-radius: 0.8rem;
  border: 1px solid black;
  margin-right: 0.4rem;
  width: 5rem;
  height: 2.3rem;
  line-height: 2.1rem;
  color: black;
}
.month_performance_area .genre_btn_area button:hover {
  background-color: black;
  color: white;
}
.month_performance_area .genre_btn_area button:active {
  background-color: black;
  color: white;
}
.month_performance_area .genre_btn_area .active {
  background-color: black;
  color: white;
}

.performance_card_area {
  width: 18.5%;
  position: relative;
  cursor: pointer;
}
.performance_card_area .performance_card_img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  height: 29vh;
  border-radius: 0.5rem;
  margin-bottom: 0.4rem;
  position: relative;
  border: 1px solid #e4e4e4;
}
.performance_card_area .performance_card_img {
  width: 100%;
  height: 100%;
}
.performance_card_area h3 {
  font-size: 0.95rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.performance_card_area h4 {
  font-size: 0.8rem;
  margin-bottom: 0.15rem;
}
.performance_card_area h5 {
  font-size: 0.9rem;
  color: gray;
}
.performance_card_area .like-heart {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  color: gray;
}
.performance_card_area .like-heart:hover {
  color: #D61F1F;
  transition: 0.5s;
}
.performance_card_area .like_heart_red {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  color: #D61F1F;
}
.performance_card_area .ranking_num {
  position: absolute;
  left: 0.8rem;
  bottom: -0.5rem;
  font-size: 5rem;
  color: white;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.192);
}

.planned_performance {
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.4rem;
  padding-bottom: 5rem;
  margin-bottom: 5.5rem;
}
.planned_performance h2 {
  color: whitesmoke;
  margin: 2.3rem 0rem;
}

.planned_card_area {
  padding: 0rem 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.planned_card_area .slider {
  width: 78%;
}
.planned_card_area .planned_card_box {
  width: 100%;
  padding: 0rem 3%;
  cursor: pointer;
}
.planned_card_area .planned_card {
  width: 100%;
  background-color: rgb(252, 252, 252);
  overflow: hidden;
  border-radius: 0.3rem;
}
.planned_card_area .planned_card_img_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32vh;
  overflow: hidden;
  object-fit: cover;
}
.planned_card_area .planned_card_img {
  width: 100%;
  height: 100%;
}
.planned_card_area .like-heart {
  position: absolute;
  color: gray;
  font-size: 1.2rem;
  top: 0.8rem;
  right: 0.5rem;
}
.planned_card_area .like-heart:hover {
  color: #D61F1F;
}
.planned_card_area .like_heart_red {
  position: absolute;
  color: #D61F1F;
  font-size: 1.2rem;
  top: 0.8rem;
  right: 0.5rem;
}
.planned_card_area .planned_text_box {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.planned_card_area h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.planned_card_area h4 {
  font-size: 0.75rem;
}
.planned_card_area h5 {
  font-size: 1.15rem;
  font-weight: 600;
  color: #f44f08;
  text-align: end;
}
.planned_card_area .slick-dots li button:before {
  color: white !important;
}
.planned_card_area .slick-prev {
  font-size: 2rem;
  color: white;
  opacity: 30%;
  left: -4rem;
}
.planned_card_area .slick-prev:hover {
  color: white;
  opacity: 90%;
}
.planned_card_area .slick-prev:before {
  content: none;
}
.planned_card_area .slick-next {
  font-size: 2rem;
  color: white;
  opacity: 30%;
  right: -4rem;
}
.planned_card_area .slick-next:hover {
  color: white;
  opacity: 90%;
}
.planned_card_area .slick-next:before {
  content: none;
}
.planned_card_area .slick-dots li button::before {
  font-size: 8px !important;
  top: auto !important;
}

.event_banner {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 3rem 0rem;
  margin-bottom: 5rem;
}
.event_banner button {
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-top: 0.35rem;
}
.event_banner h2 {
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.event_banner h6 {
  font-weight: 300;
}
.event_banner h6 span {
  color: #F44F08;
  font-weight: 600;
}

.review_area .review_box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.review_area .review_box .review_card_area {
  width: 49%;
  height: 23vh;
  box-sizing: border-box;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 0.8rem;
  border: 1px solid #bbb;
  cursor: pointer;
}
.review_area .review_box .review_card_area .review_card_img_box {
  border-right: 1px solid #bbb;
  width: 30%;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review_area .review_box .review_card_area .review_card_img_box .review_card_img {
  width: 100%;
  height: 100%;
}
.review_area .review_box .review_card_area .review_card_text_box {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem 0rem 1rem;
}
.review_area .review_box .review_card_area .review_card_text_box h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.review_area .review_box .review_card_area .review_card_text_box p {
  font-size: 0.9rem;
  margin: 0.5rem 0rem;
}
.review_area .review_box .review_card_area .review_card_text_box .review_card_text {
  max-height: 11rem;
  overflow: hidden;
}
.review_area .review_box .review_card_area .review_card_text_box .review_card_user_box {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 0.8rem;
}
.review_area .review_box .review_card_area .review_card_text_box .review_card_user_box span {
  color: #707070;
}
.review_area .review_box .review_card_area .review_card_text_box .review_card_user_box .review_card_user_img_box {
  border-radius: 500px;
  margin-right: 0.3rem;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #bbb;
}
.review_area .review_box .review_card_area .review_card_text_box .review_card_user_box .review_card_user_img_box img {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 768px) {
  /* 모바일 가로, 태블릿 세로 */
  .wrap-container {
    max-width: 720px;
  }
  .main_banner_area .main_slider .slide-img_box img {
    width: 100%;
  }
  .performance_card_area h3 {
    width: 100%;
    max-height: 3.45rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.15rem;
    text-overflow: ellipsis;
  }
  .performance_card_area h5 {
    font-size: 0.8rem;
  }
  .performance_card_area .performance_card_img_box {
    height: 20vh;
  }
  .performance_card_area .ranking_num {
    font-size: 3rem;
  }
  .month_performance_area {
    margin-bottom: 3rem;
  }
  .month_performance_area .scroll_box {
    overflow: scroll;
    scrollbar-width: none;
  }
  .month_performance_area .month_performance_row {
    min-width: 720px;
  }
  .month_performance_area .genre_btn_area {
    height: 2.2rem;
  }
  .month_performance_area .genre_btn_area .scroll_width {
    min-width: 720px;
  }
  .month_performance_area .genre_btn_area button {
    font-size: 0.8rem;
    width: 4.5rem;
    height: 2rem;
    line-height: 2rem;
  }
  .planned_card_area .slider {
    width: 93%;
  }
  .planned_card_area .planned_card_img_box {
    height: 27vh;
  }
  .planned_card_area .planned_text_box h3 {
    width: 100%;
    max-height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.2rem;
    text-overflow: ellipsis;
  }
  .event_banner h6 {
    font-size: 0.9rem;
  }
  .review_area .review_box .review_card_area {
    height: 20vh;
  }
  .review_area .review_box .review_card_area .review_card_text_box h3 {
    font-size: 0.9rem;
    max-height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.2rem;
    text-overflow: ellipsis;
  }
  .review_area .review_box .review_card_area .review_card_text_box p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  /* 모바일 세로 */
  .wrap-container {
    max-width: 340px;
  }
  .mobile_banner_area {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  .slide-img_box {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.8rem;
    border: 1px solid #bbb;
  }
  .slide-img_box img {
    width: 100%;
    border-radius: 0.8rem;
  }
  .month_performance_area {
    margin-bottom: 2rem;
  }
  .performance_card_area .performance_card_img_box {
    height: 25vh;
  }
  .planned_performance {
    margin-bottom: 3rem;
  }
  .planned_performance h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .planned_card_area .planned_card_img_box {
    height: 37vh;
  }
  .planned_card_area .slick-dots {
    width: 100% !important;
    justify-items: center !important;
  }
  .planned_card_area .slick-dots li button::before {
    font-size: 6px !important;
    top: auto !important;
  }
  .event_banner {
    margin-bottom: 3rem;
  }
  .event_banner h6 {
    font-size: 0.7rem;
  }
  .event_banner button {
    font-size: 0.8rem;
    height: 2rem;
    line-height: 1rem;
  }
  .review_area .review_box .review_card_area {
    width: 100%;
  }
  .review_area .review_box .review_card_area .review_card_text_box {
    padding-top: 1rem;
  }
  .review_area .review_box .review_card_area .review_card_text_box h3 {
    max-height: 2.4rem;
  }
  .review_area .review_box .review_card_area .review_card_text_box span {
    font-size: 0.8rem;
  }
  .review_area .review_box .review_card_area .review_card_text_box .review_card_user_box .review_card_user_img_box img {
    width: 1.5rem;
    height: 1.5rem;
  }
}