@charset "UTF-8";
.mypage-container {
  display: flex;
  justify-content: space-between;
  /* < mypage-left > */
  /* < mypage-right > */
}
.mypage-container h1, .mypage-container h2, .mypage-container h3, .mypage-container h4, .mypage-container h5, .mypage-container p {
  margin: 0;
  padding: 0;
}
.mypage-container ul, .mypage-container li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mypage-container a {
  text-decoration: none;
  color: inherit;
}
.mypage-container .mypage-left {
  width: 14%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  /* [ side-bar ] */
  /* [ user-profile ] */
}
.mypage-container .mypage-left .mypage_sidebar {
  padding-top: 40px;
  color: #919191;
}
.mypage-container .mypage-left .mypage_sidebar h3 {
  font-size: 20px;
  color: #000;
}
.mypage-container .mypage-left .mypage_sidebar a:hover {
  color: #000;
}
.mypage-container .mypage-left .mypage_sidebar .link_menu {
  margin-bottom: 30px;
  font-size: 13px;
}
.mypage-container .mypage-left .mypage_sidebar .link_menu a {
  display: inline-block;
  padding: 8px 0 0 5px;
  cursor: pointer;
}
.mypage-container .mypage-left .user_profile_container .user_name {
  font-family: Gsans_B;
}
.mypage-container .mypage-right {
  display: flex;
  width: 86%;
  flex-flow: column;
  /* [ user_level_section ] */
  /* [ 회원정보 수정 페이지 ] */
}
.mypage-container .mypage-right .user_level_section {
  display: flex;
  padding: 10px;
  background-color: #000;
}
.mypage-container .mypage-right .user_level_section .vertical_bar {
  color: #4b4b4b;
}
.mypage-container .mypage-right .user_level_section .user_level_info {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 10px;
  color: #fff;
}
.mypage-container .mypage-right .user_level_section .user_level_info h5 {
  font-family: Gsans_B;
  font-size: 12px;
  color: #bbb;
}
.mypage-container .mypage-right .user_level_section .user_level_info .level_bdg {
  font-family: Gsans_B;
  padding: 7px 10px;
  border-radius: 50px;
}
.mypage-container .mypage-right .user_level_section .user_level_info .normal {
  background-color: #fff;
  color: #000;
}
.mypage-container .mypage-right .user_level_section .user_level_info .gold {
  border: 0.5px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.mypage-container .mypage-right .user_level_section .user_level_info .suspend {
  background-color: #bbb;
  color: rgb(255, 255, 255);
}
.mypage-container .mypage-right .user_level_section .user_level_info .admin {
  background-color: #f44f08;
  color: rgb(255, 255, 255);
}
.mypage-container .mypage-right .edit_user_form_container .edit_image_box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #bbb;
  overflow: hidden;
}
.mypage-container .mypage-right .edit_user_form_container .upload-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
