@charset "UTF-8";
.mypage-container {
  display: flex;
  justify-content: space-between;
  /* < mypage-left > */
  /* < mypage-right > */
}
.mypage-container h1, .mypage-container h2, .mypage-container h3, .mypage-container h4, .mypage-container h5, .mypage-container p {
  margin: 0;
  padding: 0;
}
.mypage-container ul, .mypage-container li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mypage-container a {
  text-decoration: none;
  color: inherit;
}
.mypage-container .mypage-left {
  width: 14%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  /* [ side-bar ] */
  /* [ user-profile ] */
}
.mypage-container .mypage-left .mypage_sidebar {
  padding-top: 40px;
  color: #919191;
}
.mypage-container .mypage-left .mypage_sidebar h3 {
  font-size: 20px;
  color: #000;
}
.mypage-container .mypage-left .mypage_sidebar a:hover {
  color: #000;
}
.mypage-container .mypage-left .mypage_sidebar .link_menu {
  margin-bottom: 30px;
  font-size: 13px;
}
.mypage-container .mypage-left .mypage_sidebar .link_menu a {
  display: inline-block;
  padding: 8px 0 0 5px;
  cursor: pointer;
}
.mypage-container .mypage-left .user_profile_container .user_name {
  font-family: Gsans_B;
}
.mypage-container .mypage-right {
  display: flex;
  width: 86%;
  flex-flow: column;
  /* [ 회원 등급 정보 ] */
  /* [ 나의 예매_전체조회 카드 ]*/
  /* [ 회원정보 수정 페이지 ] */
  /* 나의 찜 페이지 */
}
.mypage-container .mypage-right .user_level_section {
  display: flex;
  padding: 10px;
  background-color: #000;
}
.mypage-container .mypage-right .user_level_section .vertical_bar {
  color: #4b4b4b;
}
.mypage-container .mypage-right .user_level_section .user_level_info {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 10px;
  color: #fff;
}
.mypage-container .mypage-right .user_level_section .user_level_info h5 {
  font-family: Gsans_B;
  font-size: 12px;
  color: #bbb;
}
.mypage-container .mypage-right .user_level_section .user_level_info .level_bdg {
  font-family: Gsans_B;
  padding: 7px 10px;
  border-radius: 50px;
}
.mypage-container .mypage-right .user_level_section .user_level_info .normal {
  background-color: #fff;
  color: #000;
}
.mypage-container .mypage-right .user_level_section .user_level_info .gold {
  border: 0.5px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.mypage-container .mypage-right .user_level_section .user_level_info .suspend {
  background-color: #bbb;
  color: rgb(255, 255, 255);
}
.mypage-container .mypage-right .user_level_section .user_level_info .admin {
  background-color: #f44f08;
  color: rgb(255, 255, 255);
}
.mypage-container .mypage-right .my_reserve_card_container {
  border: 0.5px solid #bbb;
  border-radius: 8px;
  padding: 20px 15px;
  margin: 13px 0;
  overflow: hidden;
  cursor: pointer;
}
.mypage-container .mypage-right .my_reserve_card_container .card_top {
  display: flex;
  justify-content: space-between;
}
.mypage-container .mypage-right .my_reserve_card_container .info_group {
  display: flex;
}
.mypage-container .mypage-right .my_reserve_card_container .info_item {
  display: flex;
  font-size: 0.7em;
}
.mypage-container .mypage-right .my_reserve_card_container .book_date > strong {
  font-family: Gsans_B;
  font-size: 1.2em;
}
.mypage-container .mypage-right .my_reserve_card_container .card_main {
  display: flex;
  align-items: center;
}
.mypage-container .mypage-right .my_reserve_card_container .card_title h5 {
  font-family: "Gsans_B";
  font-size: 1em;
}
.mypage-container .mypage-right .my_reserve_card_container .poster_box {
  width: 6em;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
  border: 0.5px solid #bbb;
  background-color: #bbb;
}
.mypage-container .mypage-right .my_reserve_card_container .poster_img {
  width: 100%;
  object-fit: cover;
}
.mypage-container .mypage-right .edit_user_form_container .edit_image_box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #bbb;
  overflow: hidden;
}
.mypage-container .mypage-right .edit_user_form_container .upload-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mypage-container .mypage-right .mylike_card_area {
  position: relative;
  display: flex;
  width: 100%;
  height: 25Vh;
  border: 1px solid gray;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.mypage-container .mypage-right .mylike_card_area .mylike_card_image_box {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mypage-container .mypage-right .mylike_card_area .mylike_card_image {
  width: 100%;
}
.mypage-container .mypage-right .mylike_card_area .filter_gray {
  filter: grayscale(75%);
}
.mypage-container .mypage-right .mylike_card_area .mylike_card_text_box {
  width: 65%;
  padding: 1.5rem;
}
.mypage-container .mypage-right .mylike_card_area .mylike_card_text_box h4 {
  font-size: 1rem;
  font-weight: 600;
  color: gray;
  margin-bottom: 0.4rem;
}
.mypage-container .mypage-right .mylike_card_area .mylike_card_text_box h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.mypage-container .mypage-right .mylike_card_area .mylike_card_text_box h5 {
  font-size: 0.9rem;
}
.mypage-container .mypage-right .mylike_card_area .mylike_card_text_box button {
  margin-top: 1rem;
  width: 6rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}
.mypage-container .mypage-right .mylike_card_area .mylike_card_text_box .before_perf {
  background-color: white;
  color: black;
}
.mypage-container .mypage-right .mylike_card_area .like_heart {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  color: #D61F1F;
}