@charset "UTF-8";
@media screen and (max-width: 480px) {
  /* 모바일 세로 */
  .wrap-container {
    max-width: 340px;
  }
  .mypage-wrap-container {
    border: 2px solid red;
    overflow: hidden;
  }
  .mypage_side_bar_container {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .mypage_sidebar {
    border: 1px solid pink;
    width: 100%;
    display: flex;
  }
  .user_profile {
    flex-flow: row;
  }
  /* [ 회원 등급 정보 ] */
  .user_level_section {
    display: flex;
    padding: 20px 10px;
    background-color: #000;
    margin-bottom: 50px;
  }
  .user_level_section .vertical_bar {
    color: #4b4b4b;
  }
  .user_level_section .user_level_info {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 13px;
    color: #fff;
  }
  .user_level_section .user_level_info svg {
    margin-right: 3px;
  }
  .user_level_section .user_level_info h5 {
    margin-right: 10px;
    font-family: Gsans_B;
    font-size: 1em;
    color: #bbb;
  }
  .user_level_section .user_level_info .level_bdg {
    font-family: Gsans_B;
    font-size: 0.7em;
    padding: 7px 10px;
    border-radius: 50px;
  }
  .user_level_section .user_level_info .normal {
    background-color: #fff;
    color: #000;
  }
  .user_level_section .user_level_info .gold {
    border: 0.5px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .user_level_section .user_level_info .suspend {
    background-color: #bbb;
    color: rgb(255, 255, 255);
  }
  .user_level_section .user_level_info .admin {
    background-color: #f44f08;
    color: rgb(255, 255, 255);
  }
}
