.notice_page_area {
  margin-top: 40px;
  width: 80%;
  max-width: 1040px;
}

.notice_top_title {
  font-family: "Gsans_B";
  font-size: 35px;
  letter-spacing: 3px;
  border-bottom: 5px solid #181818;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.notice_content_area {
  margin-top: 20px;
  width: 80%;
  white-space: pre;
}

.pagination_wrap {
  position: relative;
  top: 30px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notice_accordion .notice_card {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 2rem;
  white-space: wrap;
  margin-top: 20px;
}

.notice_accordion .notice_card.important {
  border: 4px solid #000;
}

.notice_accordion .card-header {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: #bbb;
  color: white;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: none;
}

.notice_accordion .card-body {
  padding: 1.5rem;
  color: #555;
}

.notice_id {
  margin-right: 40px;
}

.notice_title_wrap {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
  height: 20px;
}

.notice_date {
  margin-left: auto;
  position: relative;
  left: 50px;
}

.thumb_icon,
.clip_icon {
  position: relative;
  top: 2px;
  left: 8px;
}

.no_list_message {
  text-align: center;
  color: #bbb;
  margin-top: 30px;
}

.no_list_message h2 {
  font-size: 25px;
  font-family: "Gsans_B";
}

.author_icon {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.notice_img_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notice_img_wrap img {
  width: 80%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .notice_page_area {
    width: 90%;
  }
  .notice_top_title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .notice_content_area {
    width: 100%;
  }
  .notice_title_wrap {
    width: 250px;
  }
  .notice_date {
    left: 20px;
  }
  .notice_img_wrap img {
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .notice_page_area {
    width: 100%;
    padding: 0 10px;
  }
  .notice_top_title {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .notice_title_wrap {
    width: 200px;
  }
  .notice_date {
    left: 10px;
  }
  .notice_img_wrap img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 390px) {
  .notice_title_wrap,
  .notice_id {
    font-size: 13px;
  }
  .notice_title_wrap {
    position: relative;
    right: 5px;
  }
  .thumb_icon,
  .clip_icon {
    top: 0px;
    left: 0px;
  }
  .notice_date {
    font-size: 11px;
    color: #bbb;
    left: -10px;
    bottom: 2px;
  }
  .notice_content_wrap {
    font-size: 13px;
  }
  .notice_img_wrap img {
    width: 90%;
  }
  .author_wrap {
    font-size: 12px;
  }
  .author_icon {
    font-size: 16px;
  }
}
