@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Interop';
    src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2')
        format('woff2'),
      url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

.nav-style{

    .nav-header-box{
        margin-top: 3rem;
        margin-bottom: 1.2rem;
    }

    .site-name{
        font-size: 3rem;
        font-family: 'MangoDdobak-B';
    }

    .site-name-color{
        color: rgb(164, 67, 255);
    }

    .nav-user-box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
        font-size: 1.3rem;
    }

    .nav-user-box div{
        margin: 0rem 0.6rem 0.4rem 0.6rem;
    }

    .nav-menu-box{
        display: flex;
    }

    .nav-menu-box li{
        list-style: none;
        margin-right: 2rem;
    }

    .nav-menu-box li button {
        border: none;
        background-color: transparent;
        font-family: 'Interop';
        font-size: 1.3rem;
        font-weight: 500;
    } 
}

