@font-face {
  font-family: 'Gsans_B';
  src: url("./assets/font/GmarketSansTTFBold.ttf");
}

@font-face {
  font-family: 'Gsans_M';
  src: url("./assets/font/GmarketSansTTFMedium.ttf");
}

@font-face {
  font-family: 'Gsans_L';
  src: url("./assets/font/GmarketSansTTFLight.ttf");
}

body {
  font-family: Gsans_M;
}

/* Container */
/* .wrap-container{
  max-width: 1440px;
} */


/* title_section */
.title_section {
  padding-bottom: 10px;
  border-bottom: 4px solid #000;
}
.title_section > .title{
  display: flex;
  align-items: flex-end;
}
.title_section > .title h3{
  margin-right: 10px;
}
.title_section > .title p{
  font-family: Gsans_L;
  font-size: 12px;
}