.find_password_area {
  flex-direction: column;
  width: 450px;
  margin-top: 40px;

  .title {
    font-family: 'Gsans_B';
    font-size: 35px;
    letter-spacing: 3px;
    border-bottom: 5px solid #181818;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
  }
  .find_password_form {
    width: 100%;
    margin-top: 30px;
  }
  .submit_btn {
    border: 2px solid #000;
    background-color: white;
    border-radius: 4px;
    padding: 4px 12px;
    margin-top: 20px;
    transition: 0.2s ease-out;
  }
  .submit_btn:hover {
    background-color: #141414;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .find_password_area {
    width: 70%;
    padding: 0 20px;

    .title {
      font-size: 30px;
    }

    .find_password_form input {
      height: 45px;
    }

    .submit_btn {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 480px) {
  .find_password_area {
    width: 80%;
    padding: 0 10px;
    .find_password_info {
      font-size: 14px;
    }
    .title {
      font-size: 25px;
    }
    .find_password_form input {
      height: 40px;
    }

    .submit_btn {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 390px) {
  .find_password_area {
    width: 90%;
  }
}
