.main_banner_area{
    background-color: rgb(182, 182, 182);
    width: 100%;
    height: 40vh;
    margin-bottom: 4.5rem;
    margin-top: -1px;
}

.month_performance_area{
    margin-bottom: 5rem;

   .month_performance_row{
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    } 
    .genre_btn_area{
        margin-bottom: 0.8rem;
        button{
            background-color: white;
            border-radius: 0.8rem;
            margin-right: 0.4rem;
            width: 5rem;
            height: 2.3rem;
            line-height: 2.1rem;
            border-style: solid;
        }
        button:hover{
            background-color: black;
            color: white;
        }
        button:active{
            background-color: black;
            color: white;
        }
        .active{
            background-color: black;
            color: white;
        }
    }
}

.performance_card_area{
    width: 18.5%;
    position: relative;
    cursor: pointer;
    .performance_card_img_box{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 29vh;
        border-radius: 0.5rem;
        margin-bottom: 0.4rem;
        position: relative;
        border: 1px solid #e4e4e4;
    }
    .performance_card_img{
        height: 100%;
    }

    h3 {
        font-size: 0.95rem;
        font-weight: 600;
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
    }

    h4 {
        font-size: 0.8rem;
        margin-bottom: 0.15rem;
    }

    h5{
        font-size: 0.9rem;
        color: gray;
    }

    .like-heart {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
        color: gray;
    }
    .like-heart:hover {
        color: #D61F1F;
        transition: 0.5s;
    }
    .like_heart_red{
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
        color: #D61F1F;
    }

    .ranking_num{
        position: absolute;
        left: 0.8rem;
        bottom: -0.5rem;
        font-size: 5rem;
        color: white;
        text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.192);
    }
}

.planned_performance{
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.4rem;
    padding-bottom: 5rem;
    margin-bottom: 5.5rem;

    h2{ color: whitesmoke; margin: 2.3rem 0rem; }
}
.planned_card_area{
    padding: 0rem 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    
    .slider{
        width: 78%;
    }
    
    .planned_card_box{
        width: 100%;
        padding: 0rem 3%;
        cursor: pointer;
    }
    .planned_card{
        width: 100%;
        background-color: rgb(252, 252, 252);
        overflow: hidden;
        border-radius: 0.3rem;
    }
    .planned_card_img_box{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32vh;
        overflow: hidden;
    }
    .planned_card_img{ width: 100%; height: max-content;}
    .like-heart{ 
        position: absolute; 
        color: gray;
        font-size: 1.2rem;
        top: 0.8rem; 
        right: 0.5rem;
    }
    .like-heart:hover{ color: #D61F1F; }
    .like_heart_red{
        position: absolute; 
        color: #D61F1F;
        font-size: 1.2rem;
        top: 0.8rem; 
        right: 0.5rem;
    }
    .planned_text_box{
        padding: 0.5rem 0.5rem 0rem 0.5rem;
        height: 7.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h3{ font-size: 1rem; font-weight: 600; margin-bottom: 0.2rem;}
    h4{ font-size: 0.75rem;}
    h5{ font-size: 1.15rem; font-weight: 600; color: #f44f08; text-align: end;}
    .slick-dots li button:before {
        color: white !important;
    }
    .slick-prev{
        font-size: 2rem;
        color: white;
        opacity: 30%;
        left: -4rem;
    }
    .slick-prev:hover{
        color: white;
        opacity: 90%;
    }
    .slick-prev:before{
        content: none;
    }
    .slick-next{
        font-size: 2rem;
        color: white;
        opacity: 30%;
        right: -4rem;
    }
    .slick-next:hover{
        color: white;
        opacity: 90%;
    }
    .slick-next:before{
        content: none;
    }
    .slick-dots li button::before{
        font-size: 8px !important;
        top: auto !important;
    }
}

.event_banner{
    width: 100%;
    background-color: gainsboro;
    text-align: center;
    padding: 3rem 0rem;
    margin-bottom: 5rem;

    button{
        border: black;
        background-color: black;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        font-size: 1rem;
        margin-top: 0.35rem;
    }
    h2{font-weight: 600;}
}

.review_area{
    .review_box{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .review_card_area{
            width: 49%;
            height: 23vh;
            box-sizing: border-box;
            display: flex;
            border-radius: 0.5rem;
            overflow: hidden;
            margin-bottom: 0.8rem;
            border: 1px solid #bbb;
            .review_card_img_box{
                width: 30%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                .review_card_img{
                    height: 100%;
                }
            }
            .review_card_text_box{
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1.5rem 1rem 0rem 1rem;
                
                h3{font-size: 1.1rem; font-weight: 600; margin-bottom: 0.3rem;}
                p{font-size: 0.9rem; margin: 0.5rem 0rem;}
                .review_card_text{
                    max-height: 11rem;
                    overflow: hidden;
                }
                .review_card_user_box{
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    margin-bottom: 0.8rem;
                    
                    span {color: #707070;}
                    .review_card_user_img_box{
                        border-radius: 500px;
                        margin-right: 0.3rem;
                        overflow: hidden;
                            img {
                            width: 2.5rem;
                            height: 2.5rem;
                            }
                    }
                }
            }
            
        }
    }
}

