.mypage-container{
  display: flex;
  justify-content: space-between;

  h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
  }
  
  ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none; 
    color: inherit; 
  }

  /* < mypage-left > */
  .mypage-left{
    // border: 2px solid green;
    width: 14%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    /* [ side-bar ] */
    .mypage_sidebar{
      // border: 1px solid red;
      padding-top: 40px;
      color: #919191;

      h3{
        font-size: 20px;
        color: #000;
      }

      a:hover{
        color: #000;
      }

      .link_menu{
        margin-bottom: 30px;
        font-size: 13px;

        a{
          display: inline-block;
          padding: 8px 0 0 5px;
          cursor: pointer;
        }
      }
    }

    /* [ user-profile ] */
    .user_profile_container{
      .user_name{
        font-family: Gsans_B;
      }
    }
  }

  /* < mypage-right > */
  .mypage-right{
    display: flex;
    width: 86%;
    flex-flow: column;
    // border: 2px solid green;

    /* [ user_level_section ] */
    .user_level_section{
      // border: 1px solid blue;
      display: flex;
      padding: 10px;
      background-color: #000;

      .vertical_bar{
        color: #4b4b4b;
      }

      .user_level_info{
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-size: 10px;
        color: #fff;

        h5{
          font-family: Gsans_B;
          font-size: 12px;
          color: #bbb;
        }
        .level_bdg{
          font-family: Gsans_B;
          padding: 7px 10px;
          border-radius: 50px;
        }
        .normal{
          background-color: #fff;
          color: #000;
        }
        .gold{
          border: 0.5px solid rgb(255, 255, 255);
          background-color: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
        }
        .suspend{
          background-color: #bbb;
          color: rgb(255, 255, 255);
        }
        .admin{
          background-color: #f44f08;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}








