@media screen and (max-width: 480px){
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
	/* 모바일 세로 */
	.wrap-container {
		max-width: 340px;
	}
  .mypage-wrap-container{
    overflow: hidden;
  }

  .mypage_side_bar_container_mobile{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    ul{
      width: 100%;
    }
    h3{
      padding-bottom: 10px;
      border-bottom: 3px solid #000;
    }
    li{
      border-bottom: 1px solid #bbb;
      padding: 10px 0;
    }
    .mypage_sidebar {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    .user_profile {
      flex-flow: row;
      justify-content: center;
      margin-bottom: 20px;
      .user_name{
        display: flex;
        width: 30%;
        margin-left: 10px;
        padding: 0;
        white-space: nowrap;
      }
    }
    /* [ 회원 등급 정보 ] */
    .user_level_section {
      display: flex;
      padding: 20px 10px;
      background-color: #000;
      margin-bottom: 20px;

      .vertical_bar {
        color: #4b4b4b;
      }
      .user_level_info {
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-size: 13px;
        color: #fff;
        div{
          font-size: 0.8em;
        }
        
        svg{
          margin-right: 3px;
        }

        h5 {
          margin-right: 10px;
          font-family: Gsans_B;
          font-size: 1em;
          color: #bbb;
        }
        .level_bdg {
          font-family: Gsans_B;
          font-size: 0.7em;
          padding: 7px 10px;
          border-radius: 50px;
        }
        .normal {
          background-color: #fff;
          color: #000;
        }
        .gold {
          border: 0.5px solid rgb(255, 255, 255);
          background-color: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
        }
        .suspend {
          background-color: #bbb;
          color: rgb(255, 255, 255);
        }
        .admin {
          background-color: #f44f08;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  // < 마이페이지 페이지 컨테이너 >
  .mobile_page_container{
    flex-flow: column;
    .title_section{
      padding: 15px 0 5px 0;
    }
    .title_section>.title p{
      margin: 0;
    }
    // [ 나의예매 관람일자로 조회 ]
    .my_reserve_date_container{
      flex-flow: column;
      .calander_section{
        width: 100%;
        // box-shadow: 5px 5px 6px #bbb;
        padding: 0;
        .react-calendar__tile{
          height: 40px;
        }
        .todayBTNBox{
          margin-top: 10px;
        }
      }
      .card_section{
        width: 100%;
      }
      .item_price{
        width: 100%;
        flex-flow: row;
      }
      .no_reserve_msg{
        margin-top: 20px;
      }
      .my_reserve_card_container{
        font-size: 12px;
        .reserve_card_info_group{
          width: 100%;
        }
        #item_price{
          width: 100%;
          font-size: 1em;
          flex-flow: row;
        }
        .poster_box{
          width: 2em;
        }
        .info_group{
          flex-flow: column;
          font-size: 0.7em;
          align-items: flex-start;
        }
        .card_main {
          flex-flow: column;
          align-items: flex-start;
        }
        .card_title{
          width: 100%;
          h5{
            font-size: 1.3em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }

        .card_btns{
          width: 100%;
          justify-content: flex-end;
          button{
            margin-left: 5px;
            font-size: 0.7em;
          }
        }
      }
      .disabled{
        display: none;
      }
    }
    // [ 나의예매 전체조회 ]
    .my_reserve_all_container{
      .my_reserve_card_container{
        font-size: 12px;
        .poster_box{
          width: 2em;
        }
        .info_group{
          flex-flow: column;
          font-size: 0.7em;
          align-items: flex-start;
        }
        .item_price{
          width: 100%;
          flex-flow: row;
        }
        .card_main {
          flex-flow: column;
          align-items: flex-start;
        }
        .card_title{
          width: 100%;
          h5{
            font-size: 1.3em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
        .reserve_card_info_group{
          .item_price{
            width: 100%;
            font-size: 1em;
            flex-flow: row;
          }
        }
        .card_btns{
          width: 100%;
          justify-content: flex-end;
          button{
            margin-left: 5px;
            font-size: 0.7em;
          }
        }
      }
      .disabled{
        display: none;
      }
    }

    // [ 나의 리뷰 페이지 ]
    .my_review_all_container{
      font-size: 12px;
      .my_review_card{
        flex-flow: column;
      }
      .card_main, .card_top{
        width: 100%;
      }
      .review_text{
        width: 100%;
        font-size: 0.8em;
      }
      .review_date{
        font-size: 0.8em;
        justify-content: flex-end;
      }
      .suspend_msg{
        width: 75%;
        font-size: 0.7em;
        white-space: normal;
      }
    }
    // [ 비번 변경 페이지 ]
    .verify_ps_container{
      font-size: 12px;
      .password_info_message{
        display: block;
        padding: 10px 0;
        font-size: 1.2em;
      }
      .verify_password_form{
        font-size: 1.2em;
        .submit_btn{
          width: 100%;
          padding: 12px;
          margin: 15px 0 40px 0;
        }
        .error_message{
          text-align: left;
        }
      }
    }
    // [ 개인정보 수정 ]
    .edit_user_form_container{
      font-size: 12px;
      .upload_img_area{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .edit_image_box{
        width: 10em;
        height: 10em;
        overflow: hidden;
        border-radius: 50%;
        border: 0.5px solid #bbb;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      input{
        margin-bottom: 10px;
      }
      .upload_img_btn{
        margin-left: 10px;
      }
      .edit_submit_btn{
        width: 100%;
        height: 50px;
        margin: 20px 0 5px 0;
      }
      .outMember_container{
        width: fit-content;
      }
      .outMember_btn{
        display: flex;
        width: fit-content;
      }
    }
    // [ 나의예매 디테일 페이지 ]
    .reserve-detail-container{
      font-size: 12px;
      .order-info{
        align-items: flex-start;
        flex-flow: column;
        padding: 15px 0 0 5px;;
        li:last-child{
          width: 100%;
          display: flex;
          justify-content: flex-end;
          padding: 0;
          padding-bottom: 10px;
        }
      }
      .my_reserve_card_container{
        flex-flow: column;
      }
      .card_title h5{
        padding-left: 5px;
      }
      .ticket_date{
        width: 100%;
        justify-content: flex-end;
        margin-top: 10px;
      }
    }


  }//------- 마이 페이지 모바일 끝
}
