.mypage-container {
  display: flex;
  justify-content: space-between;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .disabled{
    pointer-events: none;
    opacity: 0.5;
  }

  .transparent{
    opacity: 0;
  }

  /* < mypage-left > */
  .mypage-left {
    // border: 2px solid green;
    width: 14%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    /* [ side-bar ] */
    .mypage_sidebar {
      // border: 1px solid red;
      padding-top: 40px;
      color: #919191;

      h3 {
        font-size: 20px;
        color: #000;
      }

      a:hover {
        color: #000;
      }

      .link_menu {
        margin-bottom: 30px;
        font-size: 13px;

        a {
          display: inline-block;
          padding: 8px 0 0 5px;
          cursor: pointer;
        }
      }
    }

    /* [ user-profile ] */
    .user_profile_container {
      .user_name {
        font-family: Gsans_B;
      }
    }
  }

  /* < mypage-right > */
  .mypage-right {
    display: flex;
    width: 86%;
    flex-flow: column;
    // border: 2px solid green;

    /* [ 회원 등급 정보 ] */
    .user_level_section {
      // border: 1px solid blue;
      display: flex;
      padding: 10px;
      background-color: #000;
      margin-bottom: 50px;

      .vertical_bar {
        color: #4b4b4b;
      }

      .user_level_info {
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-size: 10px;
        color: #fff;

        h5 {
          font-family: Gsans_B;
          font-size: 12px;
          color: #bbb;
        }
        .level_bdg {
          font-family: Gsans_B;
          padding: 7px 10px;
          border-radius: 50px;
        }
        .normal {
          background-color: #fff;
          color: #000;
        }
        .gold {
          border: 0.5px solid rgb(255, 255, 255);
          background-color: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
        }
        .suspend {
          background-color: #bbb;
          color: rgb(255, 255, 255);
        }
        .admin {
          background-color: #f44f08;
          color: rgb(255, 255, 255);
        }
      }
    }

    /* [ 나의 예매_전체조회 카드 ]*/
    .my_reserve_card_container {
      border: 0.5px solid #bbb;
      border-radius: 8px;
      padding: 15px 20px 20px 13px;
      margin: 13px 0;
      overflow: hidden;
      cursor: pointer;

      .card_top {
        display: flex;
        justify-content: space-between;
      }
      .info_group {
        display: flex;
        font-size: 0.9em;
        align-items: center;
      }
      .info_group > .info_item {
        margin-right: 10px;
      }
      .info_item {
        display: flex;
        font-size: 0.7em;
        align-items: center;
      }
      .info_item p {
        margin-right: 3px;
      }
      .book_date > strong {
        font-family: Gsans_B;
        font-size: 1.2em;
      }
      .card_main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
      }
      .card_title{
        width: 50%;
        display: flex;
        align-items: center;
      }
      .card_title h5 {
        font-family: "Gsans_B";
        font-size: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .poster_box {
        width: 6em;
        min-width: 6em;
        margin-right: 20px;
        border-radius: 8px;
        overflow: hidden;
        border: 0.5px solid #bbb;
        background-color: #bbb;
      }
      .poster_img {
        width: 100%;
        object-fit: cover;
      }
      .item_price{
        width: 12%;
        font-size: 0.8em;
        display: flex;
        flex-flow: column;
      }
      .canceled_reserve{
        font-size: 0.8em;
      }
      .review_btn{
        width: 15%;
        padding: 10px;
      }
    }

    /* [ 회원정보 수정 페이지 ] */
    .edit_user_form_container {
      .edit_image_box {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #bbb;
        overflow: hidden;
      }
      .upload-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    /* 나의 찜 페이지 */
    .mylike_wrap{
      display: flex;
      flex-wrap: wrap;
      gap:2%
    }
    .mylike_card_area {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 23.5%;
      height: 51vh;
      overflow: hidden;
      margin-bottom: 4rem;
      cursor: pointer;

      .mylike_care_image_size {
        height: 57%;
        border: 1px solid #e4e4e4;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.4rem;
        overflow: hidden;
        object-fit: cover;
      }
      .mylike_card_image {
        width: 100%;
        height: 100%;
      }
      .filter_gray {
        filter: grayscale(75%);
      }

      .mylike_card_text_box {
        width: 100%;
        height: 43%;
        padding: 0.5rem 0.3rem 3.5rem 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid #bbb;

        h4 {
          font-size: 0.8rem;
          font-weight: 600;
          color: gray;
          margin-bottom: 0.4rem;
        }
        h3 {
          font-size: 1.1rem;
          font-weight: 600;
          margin-bottom: 0.3rem;
          max-height: 2.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        h5 {
          font-size: 0.9rem;
        }

        button {
          margin-top: 0.5rem;
          width: 6rem;
          height: 2rem;
          line-height: 2rem;
          border: 1px solid black;
          background-color: black;
          color: white;
          border-radius: 0.5rem;
          font-size: 0.8rem;
        }
        .before_perf {
          background-color: white;
          color: black;
        }
        .end_perf{
          border-color: #bbb;
          background-color: #bbb;
          color: white;
        }
      }
      .like_heart {
        position: absolute;
        right: 0.5rem;
        bottom: 3rem;
        font-size: 1.5rem;
        color: #d61f1f;
      }
    }
  }
  .canceled {
    opacity: 0.5;
  }
}
// [ 나의예매 디테일 페이지 ]
.reserve-detail-container {
  border: 2px solid red;
  .okCancel {
    background-color: #000;
  }
  .disableCancel {
    pointer-events: none;
    background-color: #bbb !important;
    border: #bbb;
  }
}

// [ 나의 리뷰 ]
.my_review_all_container{
  .my_review_card{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border: 0.5px solid #bbb;
    border-radius: 8px;
  }
  .card_main{
    display: flex;
    flex-flow: column;
    border: 1px solid red;
  }
}

// [ 나의 예매 날짜로 조회 ]
.ByDateReservationItem {
  margin-bottom: 10px;
}

  // [ 리뷰 작성 form ]
.review_modal_container{
  padding: 15px;
  .review_modal_header{
    border-bottom: 2px solid #000;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;

    .btn-close{
      position: absolute;
      top: 0;
      right: 0;
      padding: 65px 55px 0 0;
    }
  }  
  // .form-container{
  //   // padding: 10px 0;
  // }
  .star_select_group{
    display: flex;
    align-items: center;
  }
  .star_select_group .star_select{
    justify-content: flex-end;
  }
  .error-message{
    color: red;
    font-size: 0.6em;
    margin-right: 10px;
  }
  .modal-content{
    padding: 10px 15px;
  }
  .modal-title{
    font-size: 1.3em;
    font-family: 'Gsans_B';
  }
  .star_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }
  .star_area label{
    margin: 0;
  }
  .review_img_area{
    display: flex;
    padding: 25px 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
  }

  .review_text_area{
    padding: 25px 0;
  }
  
  .review_img{
    max-width: 8em;
    max-height: 8em;
    width: 8em;
    height: 8em;
    overflow: hidden;
    border: 0.5px #bbb;
    border-radius: 8px;
  }

  .review_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .img_uploade_btn{
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  .img_uploade_btn > button{
    padding: 10px;
    background: #fff;
    color: #000;
    border: 0.5px solid #000;
  }
}
.modal-backdrop {
  --bs-backdrop-bg: #0000002b !important;
}
// [ 예약 날짜로 보기 ]
.my_reserve_date_container{
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 12px;


  
  .card_section{
    width: 58%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 11px;
    font-size: 12px;
  }
  .calander_section{
    font-size: 14px;
    padding-left: 0;

    .selectDate{
      padding: 5px 0;
    }
    .todayBTNBox{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    .todayButton{
      background-color: #fff;
      border: solid 1px black;
      border-radius: 20px;
      padding: 5px 10px;
    }
    .react-calendar{
      border: none;
    }
    .react-calendar__tile{
      height: 70px;
    }
    .react-calendar__tile--now, .react-calendar__tile--now:enabled:hover, .react-calendar__tile--now:enabled:focus{
      background-color: #fff;
      border: 1px solid #bbb;
      border-radius: 8px;
      color: #000;
    }
    .react-calendar__tile--active, .react-calendar__tile--active:enabled:hover{
      background-color: #f44f08;
      border-radius: 8px;
      color: #fff !important;
    }
    .react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
      border-radius: 8px;
    } 
    .react-calendar__month-view__days__day--weekend {
      color: #000;
    }
  }
  .my_reserve_card_container{
    .review_btn{
      font-size: 1em;
    }
  }
}