// [ 예약 날짜로 예약내역 보기 ]
.my_reserve_date_container{
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 12px;
  
  .card_section{
    width: 65%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 11px;
    font-size: 16px;
  }
  .calander_section{
    font-size: 14px;
    padding-left: 0;
    width: 35%;

    .selectDate{
      padding: 5px 0;
    }
    .todayBTNBox{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    .todayButton{
      background-color: #fff;
      border: solid 1px black;
      border-radius: 20px;
      padding: 5px 10px;
    }
    .react-calendar{
      width: inherit;
      border: none;
    }
    .stickyBox{
      position: sticky;
      top: 20px;
    }

    .react-calendar abbr[title]{
      text-decoration: none;
    }
    .react-calendar__tile{
      height: 70px;
    }
    .react-calendar__tile--now, .react-calendar__tile--now:enabled:hover, .react-calendar__tile--now:enabled:focus{
      background-color: #fff;
      border: 1px solid #bbb;
      border-radius: 8px;
      color: #000;
    }
    .react-calendar__tile--active, .react-calendar__tile--active:enabled:hover{
      background-color: #f44f08;
      border: #f44f08;
      border-radius: 8px;
      color: #fff !important;
    }
    .react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
      border-radius: 8px;
    } 
    .react-calendar__month-view__days__day--weekend {
      color: #000;
    }
  }
  .my_reserve_card_container{
    border: 0.5px solid #bbb;
    border-radius: 8px;
    padding: 15px 20px 20px 13px;
    margin: 13px 0;
    overflow: hidden;
    cursor: pointer;
    .card_btns{
      width: 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .card_btns button{
      font-size: 0.7em;
    }
    // 예매 취소 버튼
    .okCancel {
      font-size: 0.8em;
      padding: 10px 15px;
      border: 1px solid #000;
    }
    .disableCancel {
      font-size: 0.8em;
      pointer-events: none;
      border: 1px solid #000;
      padding: 10px 15px;
    }
    .canceled_reserve{
      padding: 10px 15px;
      font-size: 0.9em;
    }
    .review_btn{
      font-size: 0.7em;
      padding: 10px 15px;
      // margin-left: 5px;
    }
    .card_top {
      display: flex;
      justify-content: space-between;
    }
    .info_group {
      display: flex;
      font-size: 0.9em;
      align-items: center;
    }
    .info_group > .info_item {
      margin-right: 10px;
    }
    .info_item {
      display: flex;
      font-size: 0.8em;
      align-items: center;
    }
    .info_item p {
      margin-right: 3px;
    }
    .book_date > strong {
      font-family: Gsans_B;
      font-size: 1.2em;
    }
    .card_main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
    }
    .card_title{
      width: 45%;
      display: flex;
      align-items: center;
    }
    .card_title h5 {
      font-family: "Gsans_B";
      font-size: 1em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .poster_box {
      width: 6em;
      min-width: 6em;
      margin-right: 20px;
      border-radius: 8px;
      overflow: hidden;
      border: 0.5px solid #bbb;
      background-color: #bbb;
    }
    .poster_img {
      width: 100%;
      object-fit: cover;
    }
    .item_price{
      width: 12%;
      font-size: 0.8em;
      display: flex;
      flex-flow: column;
    }
    .card_btns{
      width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .card_btns button{
      font-size: 0.9em;
      padding: 8px 12px;
      border: 1px solid #000;
    }
  }
  // [ 해당 날짜에 예매 없음 ]
  .no_reserve_msg{
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h4{
      margin-bottom: 15px;
    }
    .todayButton{
      border: none;
      background-color: #000;
      color: #fff;
      padding: 15px 18px;
      border-radius: 8px;
      font-size: 0.8em;
    }

    .todayButton:hover{
      background-color: rgb(75, 75, 75);
    }
  }
}