.nav_underline {
  width: 100%;
  border-bottom: 1px solid #bbb;
}
.nav_area {
  // .row>* {
  //   padding-left: 0px;
  //   padding-right: 0px;
  // }
  width: 100%;
  .nav_icon {
    cursor: pointer;
  }
  .nav_logo_area {
    margin: 2rem 0rem;
    img {
      width: 17.5rem;
    }
  }
  .txt-align {
    text-align: top;
  }
  .nav_user_menu {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 2rem;
    font-size: 0.5rem;
  }
  .nav_user_menu div {
    margin-left: 1rem;
  }
  .nav_user_icon {
    font-size: 1rem;
  }

  .nav_category {
    display: flex;
    font-size: 1.3rem;
    padding-left: 0;
    margin-bottom: 0.7rem;
    overflow: hidden;
  }
  .nav_category li {
    list-style: none;
    color: black;
    white-space: nowrap;
  }
  .nav_menu_under_bar {
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background-color: black;
    bottom: -0.7rem;
    transition: 0.5s;
  }

  .nav_category_button {
    position: relative;
    border: none;
    background-color: transparent;
    margin-right: 2.4rem;
    padding-left: 0;
    padding-right: 0;
    color: black;
  }

  .nav_category_button .hidden_under_bar {
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background-color: black;
    bottom: -0.7rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .nav_category_button:hover .hidden_under_bar {
    opacity: 1;
    visibility: visible;
  }

  .nav_icon span {
    margin-left: 6px;
    position: relative;
    bottom: 1px;
  }

  .nav_input_area {
    display: flex;
    // justify-content: end;
    white-space: nowrap;
    .input-box{
      width: 100%;
    }
    input {
      border-radius: 0px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      max-width: 88%;
    }
    input:focus-visible {
      outline: none;
    }
    button {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      background-color: transparent;
    }
  }
}

@media screen and (max-width: 768px) {
	/* 모바일 가로, 태블릿 세로 */
  // .nav_underline{
  // }
  
	.wrap-container{
		max-width: 720px;
  }
  .nav_area{
    .nav_category{
      font-size: 1.1rem;
    }
    .nav_category_button{
      margin-right: 1.3rem;
    }
    .nav_input_area{
      display: none;
    }
    .nav_user_menu{
      span { display: none; }
    }
  }
}

@media screen and (max-width: 480px){
	/* 모바일 세로 */
	.wrap-container{
		max-width: 340px;
	}
  .nav_area{
    .nav_logo_area {
      margin: 1rem 0rem;
      img {
        width: 10rem;
      }
    }
    .nav_user_menu{
      display: none;
    }
    .nav_category_area{
      display: none;
    }
    .mobile_input_area{
      display: flex;
      justify-content: end;
      align-items: end;
      margin-bottom: 0.9rem;
      white-space: nowrap;
      input {
        width: 7rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
      }
      input:focus-visible {
        outline: none;
      }
      button {
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        color: black;
      }
    }
  }
}