.nav_area {
    .nav_icon {
      cursor: pointer;
    }
    .nav_logo_area {
      margin:30px 30px 30px 0px;
      img {
        width: 280px;
      }
    }
    .txt-align{
      text-align: top;
    }
    .nav_user_menu {
      display: flex;
      justify-content: end;
      align-items: end;
      margin-right: 25px;
      margin-bottom: 30px;
      font-size: 0.5rem;
    }
    .nav_user_menu div{
      margin-left: 1rem;
    }
    .nav_user_icon{
      font-size: 1rem;
    }

    .nav_category{
      display: flex;
      font-size: 1.3rem;
      padding-left: 0;
    }
    .nav_category li{
      list-style: none;
    }
    .nav_category button{
      border: none;
      background-color: transparent;
      margin-right: 2rem;
      padding-left: 0;
    }
    .nav_icon span {
      margin-left: 6px;
      position: relative;
      bottom: 1px;
    }
}  