.error_message {
  margin-bottom: 20px;
  width: 90%;
  color: rgb(231, 94, 94);
  text-align: center;
}

/* 비밀번호 확인 */
.password_area {
  flex-direction: column;
  width: 500px;
  margin-top: 30px;

  .verify_password_form {
    margin-top: 50px;
    text-align: center;
  }
  .verify_password_form input {
    margin-top: 20px;
    height: 40px;
  }
  .submit_btn {
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    padding: 6px 12px;
    width: 100%;
    height: 40px;
    color: white;
  }
  .submit_btn:hover {
    background-color: #505253;
  }
  .submit_btn:focus {
    background-color: #505253;
  }
}

/* 비밀번호 변경 */
.password_change_area {
  flex-direction: column;
  width: 500px;
  margin-top: 50px;

  .password_input_wrap {
    position: relative;
  }

  .password_toggle_icon {
    position: absolute;
    top: 65%;
    right: 15px;
    transform: translateY(-65%);
    cursor: pointer;
    color: #bbb;
  }

  .form-control.is-invalid ~ .password_toggle_icon {
    display: none;
  }

  .reset_password_form {
    width: 100%;
    margin-top: 30px;
  }
  .reset_password_form input {
    height: 50px;
    margin-bottom: 20px;
  }
  .submit_btn {
    margin: 35px auto;
    border-radius: 5px;
    border: none;
    background-color: #000;
    padding: 6px 12px;
    width: 100%;
    height: 50px;
    color: white;
  }
  .submit_btn:hover {
    background-color: #505253;
  }
}
