.reset_password_area {
  flex-direction: column;
  width: 450px;
  margin-top: 40px;

  .title {
    font-family: 'Gsans_B';
    font-size: 35px;
    letter-spacing: 3px;
    border-bottom: 5px solid #181818;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
  }
  .reset_password_form {
    width: 100%;
    margin-top: 30px;
  }
  .form_group_1 {
    margin-bottom: 30px;
  }
  .submit_btn {
    border: 2px solid #000;
    background-color: white;
    border-radius: 4px;
    padding: 4px 12px;
    margin-top: 20px;
  }
  .submit_btn:hover {
    background-color: #141414;
    color: white;
  }
  .password_input_wrap {
    position: relative;
  }

  .password_toggle_icon {
    position: absolute;
    top: 65%;
    right: 15px;
    transform: translateY(-65%);
    cursor: pointer;
    color: #bbb;
  }
  .form-control.is-invalid ~ .password_toggle_icon {
    display: none;
  }
  .gap_message {
    margin-top: 10px;
    color: rgb(231, 94, 94);
  }
}

@media screen and (max-width: 768px) {
  .reset_password_area {
    width: 80%;
    padding: 0 20px;

    .title {
      font-size: 30px;
    }

    .reset_password_form input {
      height: 45px;
    }

    .submit_btn {
      font-size: 18px;
    }
  }
  .gap_message {
    width: 73%;
    text-align: center;
  }
  .password_toggle_icon {
    right: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .reset_password_area {
    width: 90%;
    padding: 0 10px;

    .title {
      font-size: 25px;
    }

    .reset_password_form input {
      height: 40px;
    }

    .submit_btn {
      font-size: 16px;
      padding: 4px 8px;
    }
  }
  .gap_message {
    width: 100%;
  }
  .password_toggle_icon {
    right: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .gap_message {
    width: 67%;
  }
  .reset_password_area {
    .submit_btn {
      font-size: 14px;
    }
  }
}
