.reservationPage {
  .ReservationContainer {
    display: flex;
    justify-content: space-between;
  }
  .title {
    font-size: 1.7em;
    font-family: "Gsans_M";

    border-bottom: solid 4px black;
    padding-bottom: 10px;
    margin: 30px 0 30px;
  }

  .calender_custom {
    padding: 20px 5px;
    width: 100%;
    /* line-height: 1.8em; */
    border: solid 1px #bbb;
    border-radius: 10px;
    box-shadow: 0 0 13px #bbb;

    .react-calendar__navigation__label {
      flex-grow: 0 !important;
    }

    abbr[title] {
      text-decoration: none;
    }

    .react-calendar__month-view__days__day--weekend {
      color: black;
    }

    .react-calendar__tile--now {
      background: none;
      border-radius: 15px;
      // border: solid 1px #bbb;
      border: none;
      color: black;
      /* text-decoration: underline #f44f08 3px;
            text-underline-offset: 5px; */
      /* 원하는 간격(px)으로 조정 */
    }

    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus,
    .react-calendar__tile--active {
      border-radius: 15px;
      background-color: #f44f08;
      color: white;
      border-color: #f44f08;
    }

    .react-calendar__month-view__days {
      /* row-gap: 4px; */
      min-width: 100%;
      min-height: 200px;
    }
  }
  .reservation_Right_Box {
    max-width: 56%;

    .creditCard {
      justify-content: space-between;

      .form-area {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .card_textInfo {
          margin-bottom: 15px;
        }
      }

      .off {
        display: none;
      }

      .on {
        display: block;
      }
    }
  }

  .reservation_Info_Box {
    border: solid 4px black;
    margin-top: 40px;
    padding: 25px 25px;
    // max-width: 46%;

    .subTitle {
      font-size: 20px;
      font-family: "Gsans_B";
      margin: 20px 0;
    }

    .under_line {
      border-bottom: solid 1px #bbb;
      padding-bottom: 30px;

      .detail_cost {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        font-size: 20px;
        font-family: "Gsans_M";

        div {
          width: fit-content;
        }

        .discount {
          color: #f44f08;
          margin-bottom: 0;
        }
      }
    }

    .finallyCost {
      font-size: 36px;
      font-family: "Gsans_B";
      text-align: end;
      color: #f44f08;
    }

    .Info_TopBox_performance {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .poster_img {
        width: 40%;

        img {
          width: 100%;
          border-radius: 10px;
        }
      }

      .Info_reservation_text {
        max-width: 56%;

        div {
          font-size: 15px;
          margin-bottom: 15px;
        }

        .ticketnumleft_box {
          padding-right: 0;
          margin-bottom: 0;
        }

        .ticketnum_box {
          display: flex;
          justify-content: end;
          align-items: start;

          .NumDrop {
            margin-bottom: 0;
            border: solid 1px black;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding: 0;
            width: fit-content;
            padding: 5px 10px;

            position: relative;

            svg {
              margin-left: 5px;
            }

            ul {
              padding: 0;
              margin: 0;
            }

            .liBox {
              position: absolute;
              border: solid 1px black;
              width: 100%;
              left: 0;
              top: 20px;
              background-color: white;
              border-radius: 8px;
              animation: slideDown 0.8s forwards;
              z-index: 2;

              li {
                list-style: none;
                cursor: pointer;
                padding: 2px 0;
              }

              li:hover {
                background-color: black;
                color: white;
              }
            }
          }
        }
      }
    }

    .pay_button {
      width: 100%;
      background: 0;
      background-color: black;
      color: white;
      padding: 20px 0;
      font-size: 25px;
      border-radius: 10px;
      margin-top: 40px;
    }
  }
}
