.typing-effect {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.cursor {
  display: inline-block;
  width: 10px;
  background-color: black;
  margin-left: 2px;
  animation: blink 0.7s step-end infinite;
}

.typing {
  animation: none;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
